# some stuff
/_build
/deps
/doc
/tmp
/node_modules

# node stuff
/assets/node_modules

# installer stuff
/installer/_build
/installer/tmp
/installer/doc
/installer/deps


# dumb stuff
erl_crash.dump
/.elixir_ls
.DS_Store

# secret stuff
/config/prod.secret.exs